<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi7Xo8su6v2VSvRUmXxc8GVMLdARajbTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>47836047261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.je-dag-in-beeld.caregiver</string>
	<key>PROJECT_ID</key>
	<string>je-dag-in-beeld</string>
	<key>STORAGE_BUCKET</key>
	<string>je-dag-in-beeld.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47836047261:ios:f4c560c38e6c8ec6aaf174</string>
</dict>
</plist>